/* dimensions of elements in Atomic */
size = 160px
electron = round(size / (1 + 5 ** .5))
orbital = round(size / 17)
font = round(size / 10)
total = size + 2 * orbital
n = 9
external = false

/* colors */
border = #1AAC9C
inner = #34495E
highlight = white
