/* dimensions of elements */
size = 200px
atoms = (size/3.236067978)
orbit = (size/14)
font = size/7

/* colors */
border = #2ECC71
inner = #16A085

transform()
  -webkit-transform arguments
  -moz-transform arguments
  -ms-transform arguments
  -o-transform arguments
  transform arguments

.atomic
  color: white
  counter-reset: atomic
  font-family: Montserrat,Helvetica
  height: size + 2*orbit
  position: relative
  width: size + 2*orbit

  for i in (2..6)
    &[data-steps={'"' + i + '"'}]
      chunk = (360/i)

      for step in (1..i)
        li:nth-child({step})
          p = (chunk*step) - (90 + chunk)deg
          transform: rotate(p) translate(size/2+orbit/2) rotate(-1*p);

  ol
    border-radius: size
    border: orbit solid border
    box-sizing: content-box
    height: size
    list-style: none
    padding: 0
    position: relative
    width: size

  li, summary
    background-color: inner
    border-radius: atoms
    height: atoms
    width: atoms

  li
    background-color: border
    left: 50%
    margin: (atoms/-2)
    position: absolute
    top: 50%

    &:before
      content: counter(atomic)
      counter-increment: atomic
      font-size: 20px
      left: 50%
      margin: -12px 0 0 -6px
      position: absolute
      top: 50%

    &:hover a
      display: block

  summary
    left: 50%
    margin: (atoms/-2)
    position: absolute
    text-align: center
    top: 50%

  output
    font-size: font
    display: inline-block
    margin-top: 0.5em

  sup
    font-size: (font/2)

  a
    display: none
