/* import the montserrat font */
@import url(http://fonts.googleapis.com/css?family=Montserrat)

/* dimensions of elements */
size = 200px
electron = round(size / 3.236067978)
orbital = round(size / 17)
font = round(size / 10)
total = size + 2 * orbital + electron

/* colors */
border = #2ECC71
inner = #16A085

transition()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  -o-transition arguments
  transition arguments

transform()
  -webkit-transform arguments
  -moz-transform arguments
  -ms-transform arguments
  -o-transform arguments
  transform arguments

/* move circles along the edge */
divide(a,b)
  p = (a * b) - (90 + a)deg
  transform: rotate(p) translate(size / 2 + orbital / 2) rotate(-1 * p)

/* define styleset, restricted to atomic */
.atomic
  color: inner
  counter-reset: atomic
  display: table-cell
  font-family: Montserrat,Helvetica
  height: total
  position: relative
  vertical-align: middle
  width: total

  /* this will hide electrons and input steps */
  input
    display: none

  /* calculate the positions for each atom */
  &[data-n] li:nth-child(1)
    divide(180, 1)

  for n in 2..6
    &[data-n={'"' + n + '"'}]
      for step in (2..n)
        li:nth-child({step})
          divide(360 / n, step)

  for i in 1..6
    input:nth-child({i}):checked
      & ~ ol
        li:nth-child(-n+{i - 1}):before
          content: '✓'

        li:nth-child({i})
          color: white

  ol
    background-repeat: no-repeat
    border-radius: 50%
    border: orbital solid border
    height: size
    list-style: none
    margin: 0 auto
    padding: 0
    position: relative
    text-align: center
    width: size

    &:before
      cntr = electron * 1.5

      background-color: inner
      border-radius: 50%
      content: '54'
      color: white
      font-size: font * 2
      padding-top: font
      height: cntr - font
      left: 50%
      margin: round(cntr / -2)
      position: absolute
      top: 50%
      width: cntr

  li
    background-color: border
    border-radius: 50%
    height: electron
    left: 50%
    margin: round(electron / -2)
    position: absolute
    top: 50%
    width: electron

    &:before
      content: counter(atomic)
      counter-increment: atomic
      font-size: font
      text-align: center
      margin-top: round(electron / 2) - (font / 2)
      position: absolute
      top: 0
      left: 0
      width: electron
      z-index: -1

    &:hover label
      cursor: pointer
      display: block

  canvas
    ref =  size + orbital * 2

    border-radius: 50%
    height: ref
    left: round((total - ref) / 2)
    position: absolute
    top: round(electron / 2)
    width: ref
    z-index: -1

  label
    display: none
    height: 100%
    text-indent: -9999px
    width: 100%
