/* dimensions of elements */
size = 160px
electron = round(size / 3.236067978)
orbital = round(size / 17)
font = round(size / 10)
total = size + 2 * orbital + electron

/* colors */
border = #1AAC9C
inner = #34495E

/* move circles along the edge */
divide(a,b)
  p = (a * b) - (90 + a)deg
  transform: rotate(p) translate(size / 2 + orbital / 2) rotate(-1 * p)

/* define styleset, restricted to atomic */
.atomic
  color: inner
  counter-reset: atomic
  display: table-cell
  font-family: Montserrat,Helvetica
  height: total
  position: relative
  vertical-align: middle
  width: total

  /* hide radio controls input steps */
  input[type=radio]
    display: none

  input[type=text]
    cntr = electron

    background-color: transparent
    border: none
    color: white
    font-size: round(font * 1.75)
    height: cntr
    left: 50%
    margin: round(cntr / -2)
    outline: none
    padding: 0
    position: absolute
    text-align: center
    top: 50%
    width: cntr
    z-index: 1

  /* calculate the positions for each atom */
  &[data-n] li:nth-child(1)
    divide(180, 1)

  for i in 1..6
    &[data-n={'"' + i + '"'}]
      for step in (2..i)
        li:nth-child({step})
          divide(360 / i, step)

    input:nth-child({i}):checked
      & ~ ol
        li:nth-child(-n+{i - 1}):before
          content: '✓'

        li:nth-child({i})
          color: white

  ol
    background-repeat: no-repeat
    border-radius: 50%
    border: orbital solid border
    height: size
    list-style: none
    margin: 0 auto
    padding: 0
    position: relative
    text-align: center
    width: size

    &:before
      cntr = electron * 1.5

      background-color: inner
      border-radius: 50%
      content: ''
      height: cntr
      left: 50%
      margin: round(cntr / -2)
      position: absolute
      top: 50%
      width: cntr

  li
    background-color: border
    border-radius: 50%
    height: electron
    left: 50%
    margin: round(electron / -2)
    position: absolute
    top: 50%
    width: electron

    &:before
      content: counter(atomic)
      counter-increment: atomic
      font-size: font
      left: 0
      margin-top: round(electron / 2) - (font / 2)
      position: absolute
      text-align: center
      top: 0
      width: electron
      z-index: -1

    &:hover label
      cursor: pointer
      display: block

  canvas
    ref =  size + orbital * 2 - 4

    border-radius: 50%
    height: ref
    left: round((total - ref) / 2)
    position: absolute
    top:  round((total - ref) / 2)
    width: ref
    z-index: -1

  label
    display: none
    height: 100%
    text-indent: -9999px
    width: 100%
