/* move circles along the edge */
divide(a, n)
  r = size / 2
  t = (PI / -2) + 2 * PI / a * (n - 1)
  left: round(r * cos(t)) + r
  top: round(r * sin(t)) + r

/* hide radio controls input steps */
input[name=atomic]
  display: none

/* define styleset, restricted to atomic */
.atomic
  color: inner
  counter-reset: atomic
  font-family: Montserrat,Helvetica
  height: total
  margin: (electron / 2)
  position: relative
  width: total

  input[type=text]
    cntr = electron

    background-color: transparent
    border: none
    color: highlight
    font-size: round(font * 1.75)
    height: cntr
    left: 50%
    margin: round(cntr / -2)
    outline: none
    padding: 0
    position: absolute
    text-align: center
    top: 50%
    width: cntr
    z-index: 2

  /* calculate the positions for each atom */
  for i in 1..n
    &[data-n={'"' + i + '"'}]
      for step in (1..i)
        li:nth-child({step})
          divide(i, step)

    if !external
      input:nth-child({i}):checked
        & ~ ol
          li:nth-child(-n+{i - 1}):before
            content: '✓'

          li:hover:before
            content: ''

          li:nth-child({i})
            color: highlight

  ol
    background-repeat: no-repeat
    border-radius: 50%
    border: orbital solid border
    height: size
    list-style: none
    margin: 0 auto
    padding: 0
    position: relative
    text-align: center
    width: size
    z-index: 1

    &:before
      cntr = electron * 1.5

      background-color: inner
      border-radius: 50%
      content: ''
      height: cntr
      left: 50%
      margin: round(cntr / -2)
      position: absolute
      top: 50%
      width: cntr

  li
    background-color: border
    border-radius: 50%
    height: electron
    left: 50%
    margin: round(electron / -2)
    position: absolute
    top: 50%
    transition: transform .3s ease
    width: electron

    &:before
      content: counter(atomic)
      counter-increment: atomic
      display: table-cell
      font-size: font
      height: electron
      text-align: center
      vertical-align: middle
      width: electron
      z-index: -1

    &:hover
      height: @height * 1.5
      margin: @margin * 1.5
      transition: all .3s ease
      width: @height

      label
        display: table-cell

      &:before
        content: ''
        height: 0
        visibility: hidden
        width: 0

  canvas
    ref =  size + orbital * 2 - 4

    border-radius: 50%
    height: ref
    left: round((total - ref) / 2)
    position: absolute
    top: 0
    width: ref

  label
    border-radius: 50%
    box-sizing: border-box
    display: none
    font-size: round(font / 1.5)
    height: electron * 1.5
    padding: 2px
    text-align: center
    vertical-align: middle
    width: @height

    &:hover
      cursor: pointer
